<div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <%- include('random-debit-credit.ejs') %>
    <%- include('offset-name.ejs') %>
    <%- include('getName.ejs') %>
    <%- include('edit-height.ejs') %>
    <%- include('other-content.ejs') %>
    <%- include('payment-regular.ejs') %>

</div>